
@media only screen  and (min-width: 500px) and (max-width: 1024px) {

    
.menu{

    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
   

}


    /* SECTION 1 */

.text-part{

    padding-left: 90px;
    padding-right: 90px;

}

.img-part{

    width: 273px;

}

.img-S1 img{

    content: url(assets/home/tablet/create-and-share.jpg);
}

/* SECTION 2 */


.text-part-S2-S3{

    padding-left: 90px;
    padding-right: 110px;

}

.img-S2{

    content: url(assets/home/tablet/beautiful-stories.jpg);
}

/* SECTION 3 */

.img-S3{

    content: url(assets/home/tablet/designed-for-everyone.jpg);

}

/* SECTION 4 */

.section4{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   
}

.box1{

    grid-column: 1;

}

.box2{

    grid-column: 2;

}

.box3{

    grid-row: 2;
    grid-column: 1;

}

.box4{

    grid-row: 2;
    grid-column: 2;

}

.img-box{

    width: 100%;
    background-size: 100%;

}



    
}



@media only screen  and (min-width: 500px) and (max-width: 768px){


.box3{

    grid-row: 2;
    grid-column: 1;
    margin-top: -10px;

}

.box4{

    grid-row: 2;
    grid-column: 2;
    margin-top: -10px;

}
    

}