
@media only screen and (pointer: coarse) and (min-width: 768px) and (max-width: 1000px) {

    
    .menu{

        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 500;
    
    }
    
    
}



