
:root{

    --gray-color: #DFDFDF;

}

body{

    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    max-width: 1440px;

}

@media screen and (min-width: 1440px){

    body{

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    
    }

}

/* MENU */

.burger-menu{

    display: none;
}

.menu-mobile{

    display: none;
}
.menu-banner{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    height: 72px;
    
}

.logo{

    background: url(assets/shared/desktop/logo.svg);
    background-repeat: no-repeat;
    width: 170px;
    height: 16px;
    cursor: pointer;
}

.menu{

    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;

}

.menu-content{

    cursor: pointer;
}

.menu-content:hover{

    color: var(--gray-color);

}

.menu-content2{

    margin-left: 25px;
    margin-right: 25px;
}

.invite-btn-menu{

    padding: 8px 15px 8px 15px;
    width: 158px;
    height: 40px;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;

}

.invite-btn-menu:hover{

    background-color: var(--gray-color);
    color: black;
    transition: 0.1s ease-in-out;
}


/* SECTION 1 */

.section1{

    display: flex;

}

.text-part{

    background-color: black;
    width: 610px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 110px;
    padding-right: 110px;
    position: relative;

}

.text-part::before{
    
    content: '';
    display: block;
    height: 310px;
    width: 5px;
    background: linear-gradient(180deg, rgb(90, 119, 255) 0%, rgb(188, 113, 152) 50%,rgb(255, 197, 147) 100%);
    position: absolute;
    left: 0;
    top: 52%;
    transform: translateX(-1%) translateY(-48%);

}

.content-title{

    color: white;
    font-size: 2.3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.content-text{

    color: rgba(209, 209, 209, 0.74);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    margin-top: -0.5rem;
    line-height: 1.4rem;

}

.img-part{

    width: 58%;

}


.content-article-btn{

    padding: 0;
    margin-top: 1rem;
    height: 40px;
    width: 175px;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.content-article-btn:hover{

    text-decoration: underline;
}

.content-article-btn img{

    content: '';
    display: block;
    height: 14px;
    width: 45px;
    margin-left: 14px;
    filter: invert(98%) sepia(99%) saturate(6580%) hue-rotate(181deg) brightness(120%) contrast(101%);

}

/* SECTION 2 */

.section2{

    display: flex;
    margin-top: -5px;
}


.text-part-S2-S3{

    background-color: white;
    width: 610px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 110px;
    padding-right: 130px;
    position: relative;

}


.content-title-S2-S3{

    color: black;
    font-size: 2.3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.content-text-S2-S3{

    color: gray;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    margin-top: -0.5rem;
    line-height: 1.4rem;

}

.content-article-btn-S2-S3{

    padding: 0;
    margin-top: 1rem;
    height: 40px;
    width: 220px;
    background: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.content-article-btn-S2-S3:hover{

    text-decoration: underline;
}

.content-article-btn-S2-S3::after{

    content: '';
    display: block;
    height: 30px;
    width: 45px;
    background: url(assets/shared/desktop/arrow.svg);
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 14px;

}

/* SECTION 3 */

.section3{

    display: flex;
    margin-top: -5px;
}

/* SECTION 4 */

.section4{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin-top: -5px;
   
}

.box1{

    background: url(assets/stories/desktop/mountains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1;

}

.box2{

    background: url(assets/stories/desktop/cityscapes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2;

}

.box3{

    background: url(assets/stories/desktop/18-days-voyage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 3;

}

.box4{

    background: url(assets/stories/desktop/architecturals.jpg);
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 4;

}

.img-box{


    height: 500px;
    width: 360px;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -185px 50px -40px rgba(0, 0, 0, 0.575);
    transition: 0.2s ease-in-out;
    cursor: pointer;

}

.img-box:hover{

    transform: translateY(-20px);
    transition: 0.2s ease-in-out;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(to left, rgb(90, 119, 255), rgb(188, 113, 152), rgb(255, 197, 147));
   

}

.box-content{

    color: rgba(255, 255, 255, 0.956);
    padding: 345px 40px 10px 40px;
    line-height: 0.7em;
    position: relative;

}


.box-title{

    font-size: 1.23em;
    font-weight: 500;

}

.author{

    color: rgba(255, 255, 255, 0.856);
    font-size: 13px;

}

.author::after{

    content: '';
    display: block;
    height: 1px;
    width: 17rem;
    background-color: rgba(255, 255, 255, 0.301);
    margin-top: 25px;
}


.story-btn{

    background: transparent;
    border: none;
    padding: 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-top: 5px;
}

.story-btn img{

    filter: invert(98%) sepia(99%) saturate(6580%) hue-rotate(181deg) brightness(120%) contrast(101%);
    position: absolute;
    right: 40px;
    margin-bottom: 3px;

}


/* SECTION 5 */

.section5{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.box-S5{

    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box-S5-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-S5{

    font-weight: 600;
    font-size: 1.2em;

}

.text-S5{

    color: rgba(128, 128, 128, 0.822);
    font-size: 14px;

}


.box2-S5{

    margin: 70px 30px 0 30px;
    position: relative;

}


.box2-S5 img{

    position: absolute;
    transform: translateY(-4rem);
}

.box3-S5{

    height: 218px;

}